[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
ipython = "*"
matplotlib = "*"
pythonnet = {version = "*",os_name = "== 'nt'"}
jupyter = "*"
pymzml = "*"
blist = "*"
sklearn = "*"
pyyaml = "*"
events = "*"

[dev-packages]

[requires]
python_version = "3.6.6"
