[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
scipy = "*"
ipython = "*"
matplotlib = "*"
pythonnet = "*"
jupyter = "*"
pymzml = "*"
blist = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.6.6"
